{{define "login"}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

  <title>Forum</title>

    <style>
    body {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    </style>
</head>
<body>
    {{template "unloggedheader"}}
    {{if not .Success}}
    <div class="container" align="center">
      <h1>Authorization{{.Response}}</h1>
      <form method="POST" action="/login" onsubmit="return validateForm()">
        <div class="form-group">
          <label for="username">Email</label>
          <input
            type="username"
            class="form-control"
            id="username"
            placeholder="email"
            name="email"
            value="{{.User.Email}}"
          />
          <span><p id="userWarn" style="color: red;"></p></span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="password"
            name="password"
          />
          <span><p id="passWarn" style="color: red;"></p></span>
        </div>
        <span><b><p id="userWarn" style="color: red;">{{.Response}}</p></b></span>
        <button type="submit" class="btn btn-success" onclick="check()">
          login
        </button>
      </form>
    </div>
      {{else}}
      <div class="container">
        <h1>Successfully logged in</h1>
        <h3>hello {{.User.Username}}{{.User.UserID}}{{.User.Email}}</h3>
      </div>
      {{end}}
      <script>
                function validateForm() {
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var p = 0;
        if (username.length == 0) {
          var userWarn = document.getElementById("userWarn");
          userWarn.innerHTML =
            "username can't be empty";
          p++;
        }

        if (password.length == 0) {
            var passWarn = document.getElementById("passWarn");
          passWarn.innerHTML =
            "password can't be empty";
          p++;
        }

        if (p == 0) {
          return true;
        } else {
          return false;
        }
      }
      </script>
</body>
</html>
{{end}}